body, html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #FFDE22;
}

.sidebar {
  background-color: #FF7755;
}

.nav {
  background-color: #00DDFF;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.footer {
  background-color: #393f4d;
}

.container{
  display: grid;
  grid-template-columns: 200px 600px;
  grid-template-rows: 100px 100px 500px 100px;

  grid-template-areas: "header header"
  "side nav"
  "side article"
  "footer footer";

  gap: 15px
}

.header{
  grid-area: header;
}

.nav{
  grid-area: nav;
}
.sidebar{
  grid-area: side;
}

.article{
  grid-area: article;
}

.footer{
  grid-area:footer;
}
